@sprite .baseBackground td {
	gwt-image: "placedTileBG";
}

@sprite .selectionBackground td {
	gwt-image: "tileSelectorBG";
}

@sprite .acceptingTile {
	gwt-image: "acceptingTile";
}

@sprite .rejectingTile {
	gwt-image: "rejectingTile";
}

@sprite .selectedTile {
	gwt-image: "selectedTile";
}

body {
	background-color: #555555;
	background-image: literal("-o-linear-gradient(left, #999999 0%, #000000 35%, #000000 65%, #999999 100%)"
		);
	background-image: literal("-moz-linear-gradient(left, #999999 0%, #000000 35%, #000000 65%, #999999 100%)"
		);
	background-image: literal("-webkit-linear-gradient(left, #999999 0%, #000000 35%, #000000 65%, #999999 100%)"
		);
	background-image: literal("-ms-linear-gradient(left, #999999 0%, #000000 35%, #000000 65%, #999999 100%)"
		);
 	background-image: literal("linear-gradient(left, #999999 0%, #000000 35%, #000000 65%, #999999 100%)" 
		);
}

/*Styling for DockLayoutPanels*/
.rootStyle {
	margin: auto auto;
	width: 80%;
	height: 96%;
}

.innerStyle {
	margin: auto;
	width: 882px;
	height: 100%;
}

.selectionBackground {
	margin-left: auto;
	margin-right: auto;
}

.topPanel table {
	margin-left: auto;
	margin-right: auto;
}

.whiteText {
	color: #ffffff;
}